<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WPFProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WPFProject.Properties.Settings>
            <setting name="LanguageCode" serializeAs="String">
                <value>de-DE</value>
            </setting>
        </WPFProject.Properties.Settings>
    </userSettings>
	<appSettings>
		<add key="MainWindowImgAdsPth" value="D:\VS Projects\WPFProject\WPFProject\Images\HomeScreen\Ads\Images" />
		<add key="MainWindowVideoAdsPth" value="D:\VS Projects\WPFProject\WPFProject\Images\HomeScreen\Ads\Videos" />
		<add key="PassportScanImgAdsPth" value="D:\VS Projects\WPFProject\WPFProject\Images\PassportScanScreen\Ads\Images" />
		<add key="PassportScanVideoAdsPth" value="D:\VS Projects\WPFProject\WPFProject\Images\PassportScanScreen\Ads\Videos" />
		<add key="BoardingPassScanImgAdsPth" value="D:\VS Projects\WPFProject\WPFProject\Images\BoardingPassScanScreen\Ads\Images" />
		<add key="BoardingPassScanVideoAdsPth" value="D:\VS Projects\WPFProject\WPFProject\Images\BoardingPassScanScreen\Ads\Videos" />
		<add key="WiFiAccessCodeImgAdsPth" value="D:\VS Projects\WPFProject\WPFProject\Images\WifiAccessCodeScreen\Ads\Images" />
		<add key="WiFiAccessCodeVideoAdsPth" value="D:\VS Projects\WPFProject\WPFProject\Images\WifiAccessCodeScreen\Ads\Videos" />
		<add key="CountryFlagsImgPth" value="D:\VS Projects\WPFProject\WPFProject\Images\Country flags" />
		<add key="CarouselImagesPth" value="D:\VS Projects\WPFProject\WPFProject\Images\BoardingPassScanScreen\Ads\Carousel Images"/>
		<add key="PassportScanAdsDisplay" value="1" />
		<add key="BoardingPassScanAdsDisplay" value="0" />
	</appSettings>
</configuration>